@import "tailwindcss";

/* On utilise l'importation CSS directe pour les plugins en v4 */
@plugin "@tailwindcss/typography";

@theme {
  --color-ashinaga-red: #E2001A;
  --color-ashinaga-dark: #1A1A1A;
  --spacing-128: 32rem;
}

/* On évite le @apply dans le body pour l'instant si l'erreur bloque le lancement */
body {
  background-color: var(--color-slate-50);
  color: var(--color-slate-900);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}